.login_form {
    position: relative;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    height: 480px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.login_form h2 {
    margin: 100px 0 20px;
}

.typing_form input {
    display: block;
    margin: 20px 0;
    width: 300px;
    padding: 10px 20px;
}

.typing_form #username,
.typing_form #password {
    border: 0;
    outline: 0;
    border-bottom: 1px solid #aaa;
}

.typing_form #username:focus,
.typing_form #password:focus {
    border-bottom: 1px solid black;
}

.typing_form input[type=button] {
    margin-top: 30px;
    padding: 15px 0;
    background: linear-gradient(to right, #9c48e6, #86bbec);
    font-weight: bold;
    color: white;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.typing_form input[type=button]:active {
    opacity: .9;
}